{% extends 'main_layout.html' %}
{% block title %}
 Product offering
{% endblock %}
{% block content %}
  <div class="product_offering col-xl-10 col-lg-10 col-sm-10 layout-spacing">
    <div class="widget widget-content br-6" style="padding-bottom: 20px;">
      <h4 class="table-header"><i class="fas fa-users" style="font-size: 25px;color:  #2262c6;"></i>  Product offering</h4>
      <div class="table-responsive mb-4">
          <div class="dataTables_length" id="last-page-dt_length"></div>
        <table id="product_offering-dt" class="table table-hover" style="width:100%">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>discription</th>
              <th>herf</th>
              <th>is bundle</th>
              <th>Amount</th>
              <th>validity</th>
              <th>bytes</th>
              <th>is active</th>
              <th>recharge count</th>
              <th class="no-content"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>discription</th>
              <th>herf</th>
              <th>is bundle</th>
              <th>Amount</th>
              <th>validity</th>
              <th>bytes</th>
              <th>is active</th>
              <th>recharge count</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <style>
    .product_offering {
      position: relative;
      left: 200px;
      top: 80px;
    }
  </style>
  {% block script %}
  <script>
    $(document).ready(function() {
      $('#min, #max').keyup( function() { table.draw(); } );
      $('#product_offering-dt').DataTable( {
          dom: '<"row"<"col-md-6"B><"col-md-6"f> ><""rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>>',
          buttons: {
              buttons: [
                  { extend: 'copy', className: 'btn btn-primary' },
                  { extend: 'csv', className: 'btn btn-primary' },
                  { extend: 'excel', className: 'btn btn-primary' },
                  { extend: 'pdf', className: 'btn btn-primary' },
                  { extend: 'print', className: 'btn btn-primary' }
              ]
          },
          "language": {
              "paginate": {
                  "previous": "<i class='las la-angle-left'></i>",
                  "next": "<i class='las la-angle-right'></i>"
              }
          },
          "lengthMenu": [7, 10, 20, 50],
          "pageLength": 7 
      } );
      // Add text input to the footer
    
      // Search
      
      $('a.toggle-btn').on( 'click', function (e) {
          e.preventDefault();
          // Get the column API object
          var column = table.column( $(this).attr('data-column') );
          // Toggle the visibility
          column.visible( ! column.visible() );
          $(this).toggleClass("toggle-clicked");
      } );
  } );
    </script>
  {% endblock %}
{% endblock %}
