{%extends 'main_layout.html' %}
{% block title %} settings {% endblock %}
{% block content %}

<div class="widget-content1 widget-content-area col-lg-10">
    <div class="button-list">
        <button id="system" class="btn btn-primary mb-1">system</button>
        <button id="system_logo" class="btn btn-primary mb-1">system-logo</button>
        <button id="payment_gateway" class="btn btn-primary mb-1">payment Gateway</button>
        <button id="notification_position" class="btn btn-primary mb-1">notification position</button>
        <button id="email_Setting" class="btn btn-primary mb-1">email Setting</button>
        <button id="sms_settings" class="btn btn-primary mb-1">sms settings</button>
        <button id="setup_modules" class="btn btn-primary mb-1">setup modules</button>
        <button id="theme_settings" class="btn btn-primary mb-1">Theme settings</button>
    </div>
</div>
<div class="form" id="system_div"  >
    <div class="col-lg-12  layout-spacing"  >
      <div class="statbox widget box box-shadow mb-4 col-xl-15"  >
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-10 col-md-10 col-sm-10 col-10">
              <h4>system</h4>
            </div>
          </div>
        </div>
        <form method="post" name="system-setting" action="">
        <div class=" widget-content widget-content-area col-md-12"  >
          <div class="w-100">
            <div class="form-group row">
              <div class="col-md-6">
                <label>Application Name<span class="required" style="color:red">* </span>
                </label>
                <input type="email"  class="form-control" name="application_name" placeholder="Enter Application name">
                <span class="form-text text-muted">Please enter your Application name</span>
              </div>
              <div class="col-md-6">
                <label>company name<span class="required" style="color:red">* </span>
                </label>
                <input type="email" class="form-control"  name="company_name" placeholder="Enter company name">
                <span class="form-text text-muted">Please enter your company name</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h6 class="mb-4">Installed SSL?</h6>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"  id="ssl_available?" name="ssl_available?" value="1">
        <label class="custom-control-label" for="ssl_available?" >
          If you have installed ssl on your server then you can enable this option,
           because you can easily get the employee clock-in/out location in
        </label>
      </div>
        <div class="widget-footer text-right">
          <button type="submit" class="btn btn-primary mr-2">save</button>
          <button type="reset" class="btn btn-outline-primary">Cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- form 2 starts here -->
  <div class="form-2" id="system_logo_div" style="display: none;" >
    <div class="col-lg-15  layout-spacing"  >
      <div class="statbox1 widget box box-shadow mb-4" >
        <div class="widget-header">
          <div class="row" >
            <div class="col-xl-20 col-md-20 col-sm-20 col-20">
              <h4>system logo</h4>
            </div>
          </div>
        </div>
        <form method="post" id="system-logo" action="">
        <div class="widget-content widget-content-area">
          <div class="w-100">
            <div class="form-group row">
              <div class="col-md-6">
                <label>system logo<span class="required" style="color:red">* </span>
                </label>
                <input type="file"  class="form-control" name="sytem-logo" placeholder="">
                <span class="form-text text-muted">upload files only:png</span>
              </div>
              <div class="col-md-6">
                <label>favicon<span class="required" style="color:red">* </span>
                </label>
                <input type="file" class="form-control"  name="favicon" placeholder="">
                <span class="form-text text-muted">upload files only:png</span>
              </div>  
              <br/>
              <div class="col-md-6" style="padding-top: 20px;">
                <label>pay/invoice logo<span class="required" style="color:red">* </span>
                </label>
                <input type="file" class="form-control"  name="pay_invoice_logo" placeholder="">
                <span class="form-text text-muted">upload files only:png</span>
              </div>
            </div>
          </div>
        </div>
        <div class="widget-footer text-right">
          <button type="submit" class="btn btn-primary mr-2">save</button>
          <button type="reset" class="btn btn-outline-primary">Cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- form2 ends here -->
  <!-- form3 starts here -->
  <div class="statbox3 widget box box-shadow col-xl-9" style="padding-bottom: 50px;display: none;" id="payment_gateaway_div">
    <div class="widget-header" >
      <div class="row" >
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
          <h4>payment gateaway</h4>
        </div>
      </div>
    </div>
    <form method="post" action="">
    <div class="widget-content widget-content-area" style="padding-bottom: 50px;padding-top: 1px;" >
      <div class="form-group row">
        <div class="col-md-6">
        <label> paypal Email address <span class="text-danger">*</span>
        </label>
        <input type="email" class="form-control" placeholder="Enter email">
        <span class="form-text text-muted">We'll never share your email with anyone else.</span>
      </div>
      <div class="col-md-6">
        <label for="exampleInputPassword1">Password <span class="text-danger">*</span>
        </label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      </div>
      <hr>
      <div class="form-group1 row  " style="padding-right:40px ;">
        <div class="col-md-6">
        <label for="exampleSelect1">paypal sandbox <span class="text-danger required" >*</span>
        </label>
        <select class="form-control" id="exampleSelect1">
          <option>yes</option>
          <option>no</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="exampleSelect1">Active <span class="text-danger">*</span>
        </label>
        <select class="form-control" id="exampleSelect1">
          <option>yes</option>
          <option>no</option>
        </select>
      </div>
      </div>
      <div class="form-group2 " style=" align-self: auto;;">
        <label for="exampleInputPassword1">stripe secrect key <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" enter stripe secrect key">
      </div>
      <div class="form-group3 " style="padding-bottom:20px ;">
        <label for="exampleInputPassword1">stripe publishable key <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" enter stripe publishable key">
      </div>
      <div class="form-group4 " style="padding-bottom:20px ;">
        <label for="exampleSelect1">Active <span class="text-danger">*</span>
        </label>
        <select class="form-control" id="exampleSelect1">
          <option>yes</option>
          <option>no</option>
        </select>
    </div>
    </div>
    <div class="widget-footer1 text-right">
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
      <button type="reset" class="btn btn-outline-primary">Cancel</button>
    </div>
</form>
  </div>
</div>
        <style>
            .widget-content1{
                position: relative;
                top:60px;
                left:200px;
            }

             .statbox{
                position: relative;
                bottom:20px;
                left:200px;
            }
            
            .statbox1{
                position: relative;
                left: 220px;
                bottom:20px;
            }      

            .statbox3{
                position: relative;
                left: 220px;
                top: 60px;

            } 

            .form-group1{
                position: relative;
                bottom:50px;
            }

            .form-group2{
                position: relative;
                bottom:30px;
                right:5px;
            }

            .form-group3{
                position: relative;
                bottom:10px;
                right:5px;
            }
            
            .widget-footer1{
                position: relative;
                bottom:10px;
            }
        </style>
  
{% block script %}
<script>
  $("#system").click(function(){
    $("#system_div").show();
    $("#system_logo_div").hide();
    $("#payment_gateaway_div").hide();
  });
  $("#system_logo").click(function(){
    $("#system_logo_div").show();
    $("#system_div").hide();
    $("#payment_gateaway_div").hide();
  });
  $("#payment_gateway").click(function(){
    $("#payment_gateaway_div").show();
    $("#system_div").hide();
    $("#system_logo_div").hide();
  });
</script>
{% endblock %}
{% endblock %}